@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  min-width: 700px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Roboto", Courier, monospace;
  background-color: #ff6500;
  overflow: hidden;
  position: relative;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60%;
  position: relative;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  border: 0 solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.test {
  width: 200%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 100%);
}

.test-1 {
  min-width: 300px;
  min-height: 240px;
}

.test-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  min-width: 300px;
  min-height: 240px;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
  z-index: 2;
}

.test-3 {
  min-width: 300px;
  min-height: 240px;
}

.test-4 {
  background-color: white;
}

.red-panel {
  background-color: red;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  position: relative;
}
